@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Schoolbell&display=swap');

@import "tailwindcss";

@theme {
  --breakpoint-lg: 1025px;
  --breakpoint-md: 770px;
  --color-customRed:rgba(218, 41, 28, 1);
  --color-customGreen: rgba(6, 122, 82, 1);
  --color-avocado-200: oklch(0.98 0.04 113.22);
}

* {
  font-family: "Schoolbell", sans-serif;
}

.ff-luckiest {
  font-family: "Luckiest Guy", sans-serif;
}

.font-outline-2 {
  -webkit-text-stroke: 1px black;
}

.link:hover svg path{
  fill: red;
  transition: all 200ms linear;
}