@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Schoolbell&display=swap');

@import "tailwindcss";

@theme {
  --breakpoint-lg: 1025px;
  --breakpoint-md: 770px;
  --color-customRed: rgba(218, 41, 28, 1);
  --color-customGreen: rgba(6, 122, 82, 1);
  --color-customGray: rgba(139, 133, 129, 1);
}

* {
  font-family: "Schoolbell", sans-serif;
}

.ff-luckiest {
  font-family: "Luckiest Guy", sans-serif;
}

.font-outline-2 {
  -webkit-text-stroke: 1px black;
}

.link:hover svg path {
  fill: red;
  transition: all 200ms linear;
}

.hero {
  animation: hero 1s linear;
}

@keyframes hero {
  from {
    transform: translateX(-500px);
  }

  to {
    transform: translateX(0);
  }
}

@media (max-width:779.99px) {
  .earn{
    background-size: 120% 100% !important;
  }
}
@media (max-width:549.99px) {
  .earn{
    background-size: 180% 100% !important;
  }
}